/* Filter Section */
.filter-section {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 100px;
  position: relative; 
}

.filter-section h1 {
  margin-top: -50px; 
  position: relative; 
  top: 35px;
  left: 120px;
  z-index: 1; 
  font-size: 1.5rem;
  font-weight: bold;
}

/* Other styles remain unchanged */
.filter-section h6 {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.filter-section label {
  display: block;
  margin: 10px 0;
  font-size: 1rem;
  color: #555;
}

.filter-section input {
  margin-right: 8px;
}

/* Specific styles for the category and type sections */
.filter-category-section,
.filter-type-section {
  border: 1px solid #ccc;
  width: 70%; /* Adjust to your desired width */
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 120px;
  background-color: #f9f9f9; /* Optional: adjust background color */
  position: relative;
  top: 65px;
  right: 0;
  bottom: 0;
  left: 0;
}

.filter-category-section h6,
.filter-type-section h6 {
  margin-top: 0; /* Reset margin-top */
  font-size: 1rem;
}

/* Collection Section */
.collection-section {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 80px;
}

.collection-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.collection-header h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.collection-header select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
}

/* Card Styles */
.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.card img {
  max-width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.card h5 {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}

.card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 5px;
}




/* Responsive Design */
@media (max-width: 768px) {
  .filter-section,
  .collection-section {
    margin-bottom: 20px;
  }

  .card {
    margin-bottom: 20px;
  }
}
