.navigation {
  background: linear-gradient(
    to bottom,
    var(--primary-dark),
    var(--primary-light)
  );
  padding: 10px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: static; /* Make the navigation sticky */
  top: 0; /* Stick to the top of the viewport */
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between; /* Ensures the items are spread out across the navbar */
  align-items: center; /* Align items vertically in the center */
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.brand {
  display: flex;
  align-items: center;
}

.brand span {
  font-size: 1.8em;
  color: #ffffff;
}

nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 15px;
  position: relative;
}

/* Flex-grow links to push them to the left */
.nav-list li:not(.nav-icon) {
  margin-right: 30px ; /* Push non-icon links to the left */
  position: relative;
  top: 0;
  right: 20px;

}

.nav-list li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
  color: #f0f0f0;
}

/* Ensures that the icons stay on the right */
.nav-icon {
  margin-left: auto; /* Push icons to the right */
}

.icon-button {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon-button:hover {
  transform: scale(1.1);
}


/* Styles for the search input with embedded icon */
.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  border: none;
  padding: 5px;
  padding-left: 35px; /* Space for the icon */
  border-radius: 50px;
  margin-left: 100px; /* Space between input and icon */
  background: linear-gradient(
    to bottom,
    var(--primary-light),
    var(--primary-light)
  );
  color: #ffffff;
  font-size: 0.9em;
  width: 200px; /* Adjust width as needed */
  outline: none;
}

.search-container input::placeholder {
  color: white;
}

.search-container i {
  position: absolute;
  left: 10px; /* Space from the left edge of the input */
  color: #ffffff; /* Icon color */
  font-size: 1em; /* Adjust icon size */
  margin-left: 100px;
}




/* Mobile-specific styles */
@media only screen and (max-width: 798px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 0;
    z-index: 1000;
  }

  .nav-list.open {
    display: flex;
    transform: translate(-15px);
    position: absolute;
    top: 49px;
  }

  .nav-list li {
    text-align: center;
    width: 122%;
    background: linear-gradient(
      to top,
      var(--primary-dark),
      var(--primary-light)
    );
    position: relative;
    top: 0;
    left: 30px;

  }

  .nav-list li a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ffff;
  }

  .nav-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    cursor: pointer;
  }

  .hamburger {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    position: absolute;
    transition: all 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hamburger:before {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: -8px;
    left: 0;
    transition: all 0.3s;
  }

  .hamburger:after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 8px;
    left: 0;
    transition: all 0.3s;
  }

  .hamburger.active {
    background-color: transparent;
  }

  .hamburger.active:before {
    transform: rotate(45deg);
    top: 0;
  }

  .hamburger.active:after {
    transform: rotate(-45deg);
    top: 0;
  }

  .nav-list {
    padding-top: 15px;
  }

  /* Hero section*/
  
  
}

/* 
@media only screen and (max-width: 768px) {
  .img-fluid{
    position: relative;
    right: 100px;
  }

} */

/* Ensure the slider does not overlap the navigation */
/* .slider-container { */
/* margin-top: 70px; */
/* } */
