/* Scoped styles using .signup-container */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 400px;
  text-align: center;
}

.signup-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.signup-container form {
  width: 100%;
}

.signup-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-container .form-footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.signup-container .forget-pass, .signup-container .login {
  text-decoration: none;
  color: #555;
}

.signup-container .forget-pass:hover, .signup-container .login:hover {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.signup-container .Sign-up {
  background-color: var(--primary-dark);
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.signup-container .Sign-up:hover {
  background-color: var(--primary-light);
  transform: scale(1.05);
}
